<div class="box">
    <div class="{{ box_header_class|default('box-header with-border') }}">
        {% block box_header %}
            <h3 class="box-title">
                {% block box_title %}
                    {{ title|default('') }}
                {% endblock %}
            </h3>
            <div class="box-tools pull-right">
                {% block box_tools %}{% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class="box-body">
        {% block box_body %}
            {% block main_content %}
                {{ content|default('')|raw }}
            {% endblock %}
        {% endblock %}
    </div>
</div>