{# pass an array argument to get the messages of those types  #}
{% for label, messages in app.flashes(['danger', 'success', 'warning', 'info']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}