{# Just some example links - need to be replaced #}
<li class="nav-item">
    <a class="nav-link active" href="#">
        Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        Orders
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        Products
    </a>
</li>